.header {
  min-height: 50px;
  width: auto;
}
.header-nav {
  min-height: 50px;
  background: #ffffff;
  box-shadow: 0 0 6px 3px lightgrey;
  width: 60%;
  gap: 2em;
  justify-content: space-around;
  align-items: center;
}
.header-nav a {
  display: inline-block;
  color: #000000;
  font-size: 14px;
  width: auto;
  text-align: center;
}

.search {
  align-items: center;
  padding: 10px 5px;
  margin-left: auto;
}
.search p {
  display: inline-block;
  color: #000000;
  font-size: 14px;
  white-space: nowrap;
  width: auto;
  text-align: center;
}
