.main-content {
  width: 100%;
}
.comparison-section {
  width: auto;
  min-height: auto;
  background: #ffffff;
  box-shadow: 0 0 6px 3px lightgrey;
}

.comparison-section .table-top p {
  font-size: 16px;
  font-weight: 500;
}
.comparison-section .table-top span {
  font-size: 12px;
  font-weight: 500;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: none !important;
  font-size: 12px !important;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  color: #797b88;
}
.table td span {
  margin-right: 5px !important;
}
.table td {
  font-size: 14px !important;
}
table td:nth-of-type(1) {
  border-left: 2px solid red;
}
.table th {
  border-top: none !important;
}
.loading {
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 187, 0);
  text-align: center;
  margin: auto 0;
}
